---
title: Home
layout: default
background: '/img/bg-index.jpg'
---



<!-- Include Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{% if page.url == "/" %}
<div class="swiper-container hero-slider">
  <div class="swiper-wrapper">
    <!-- Slide 1 -->
    <div class="swiper-slide">
      <div class="bannerItem" data-trackid="home-banner-Carbonara">
        <div class="imgContent">
          <picture>
            <source srcSet="/assets/images/Carbonara.png" media="(max-width: 1200px)" />
            <img src="/assets/images/Carbonara.png" alt="Carbonara" />
          </picture>
        </div>
        <div class="black portal-css-jgdgk1">
          <h2 class="title titlePc">Carbonara</h2>
          <h5 class="desc descPc">五轴机械臂 舵机</h3>
        </div>
        <div class="buttonContentMain">
          <div class="buttons">
            <a class="linkItem" href="https://world.taobao.com/" target="_blank">
              <button class="slider-button" type="button">立即购买</button>
            </a>
            <a class="linkItem" href="/product/">
              <button class="slider-button" type="button">让我看看</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="swiper-slide hidden-slide">
      <div class="bannerItem" data-trackid="home-banner-Copyme">
        <div class="imgContent">
          <picture>
            <source srcSet="/assets/images/Copyme.png" media="(max-width: 1200px)" />
            <img src="/assets/images/Copyme.png" alt="Copyme" />
          </picture>
        </div>
        <div class="black portal-css-jgdgk1">
          <h2 class="title titlePc">Copyme</h2>
          <h5 class="desc descPc">七轴机械臂 步进电机</h3>
        </div>
        <div class="buttonContentMain">
          <div class="buttons">
            <span class="linkItem" href="javascript:void(0);" target="_blank">
              <button class="slider-button disabled-button" type="button" disabled>即将上线</button>
            </span>
            <!--  
            <a class="linkItem" href="/details-link2">
              <button class="slider-button" type="button">让我看看</button>
            </a>
            -->
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
{% endif %}

<!-- Featured -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
              {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
</section>

<!-- Posts List with Sidebar (except featured) -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>

<!-- Include Swiper JavaScript -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.hero-slider', {
    spaceBetween: 900,
    loop: true,
    autoplay: {
      delay: 9999,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      slideChangeTransitionEnd: function () {
        var currentIndex = swiper.realIndex;
        var slides = document.querySelectorAll('.swiper-slide');
        slides.forEach(function(slide, index) {
          if (index == 1 && slide.classList.contains('hidden-slide')) {
            slide.classList.remove('hidden-slide');
          }
        });
      }
    }
  });
</script>