/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {
    .hero-slider {
        position: relative;
        height: 100%;
        margin-bottom: 3%;
    }

    .swiper-slide {
        position: relative;
    }

    .hidden-slide {
        opacity: 0;
        visibility: hidden;
    }

    .bannerItem {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        color: white;
    }

    .black.portal-css-jgdgk1 {
        margin-top: 21%;
        margin-bottom: 1%;
        margin-left: 60%;
        position: relative;
        z-index: 2;
        padding: 10px;
        background: rgba(0, 0, 0, 0); 
    }

    .buttonContentMain {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10%;
        margin-left: 60%;
        position: relative;
        z-index: 2;
    }

    .buttonContentMain .slider-button {
        margin-left: 3px;
        margin-right: 3px;
        background: transparent;
        border: 2px solid black;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
    }

    .buttonContentMain .slider-button:hover {
        background: black;
        color: white;
    }

    .buttonContentMain .slider-button.disabled-button {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.1); /* 添加一个轻微的背景色 */
    }
    
    .buttonContentMain .slider-button.disabled-button:hover {
        background: transparent;
        color: inherit;
    }

    .imgContent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .imgContent img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bannerItem h2,
    .bannerItem h3 {
        margin: 0;
        z-index: 2;
        position: relative;
    }

    .techsupport-container {
        display: flex;
        min-height: calc(100vh - 70px); /* 调整这个值以匹配您的 header 高度 */
      }
      
      @media (max-width: 991px) {
        .techsupport-container {
          display: block;
        }
      }
}